.add-pet {
  form {
    max-width: 700px;
    margin: 0 auto;
  }
  label.block {
    display: block;
  }
  input[type="text"], textarea {
    width: 100%;
  }
  .button-container {
    text-align: center;
  }
}
