@import './../variables.scss';

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.hero-image .image-container {
  @include aspect-ratio(1000, 563);
  background-image: url(./../img/dog-cat-190709-1000x563.jpg);
  background-size: cover;
  background-position: center center;
}

.welcome-message {
  margin: 40px 0;
  text-align: center;
  ul {
    margin-left: 0;
    list-style-type: none;
  }
}

.home-footer {
  background: $lightish-gray;
  padding: 30px 0;
  text-align: center;
  button {
    margin-left: 15px;
  }
}

.login-form {
  margin: 20px 0;
  text-align: center;
  .form-field {
    text-align: left;
    margin-right: 10px;
  }
  button {
    vertical-align: top;
    margin-top: 14px;
  }
}
