@import './../../variables.scss';

.name-input {
  width: 300px;
  max-width: 100%;
}

.current-line {
  padding-left: 0;
  list-style-type: none;
  border: 1px solid $gray;
  li {
    padding: 10px;
    border-bottom: 1px solid $gray;
  }
  li:last-of-type {
    border-bottom: 0;
  }
  li:nth-of-type(even) {
    background: $light-gray;
  }
}

.pet-option {
  text-align: center;
}
