@import './variables.scss';

/*------------------
  Global
------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $darker-gray;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*------------------
  Layout
------------------*/
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.grid {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .wrapper {
    padding: 0 20px;
  }
  .grid {
    margin: 0 -20px;
    flex-direction: row;
  }
  div[class^='col'], div[class*=' col'] {
    margin: 0 20px;
  }
  .col1-2 {
    flex: 1 0 40%;
  }
}


/*------------------
  Typography
------------------*/
p, li {
  line-height: 1.4em;
}

/*------------------
  Elements
------------------*/
a {
  text-decoration: none;
  color: black;
}
button, .btn {
  display: inline-block;
  -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
    cursor: pointer;
  border: 0;

  padding: 8px 14px;
  background: $teal;
  color: #fff;
  border-radius: 8px;
  &.large {
    padding: 9px 18px;
    font-size: 20px;
    border-radius: 9px;
  }
}

/*------------------
  Form
------------------*/
.form-field {
  &.inline {
    display: inline-block;
  }
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
input {
  display: block;
  margin-bottom: 10px;
}
